duration: $TOTAL_CHAOS_DURATION
workers: $NODE_CPU_CORE
hog-type: cpu
image: $IMAGE
namespace: $NAMESPACE
cpu-load-percentage: $NODE_CPU_PERCENTAGE
cpu-method: all
node-selector: $NODE_SELECTOR
node-name: $NODE_NAME
taints: $TAINTS
number-of-nodes: $NUMBER_OF_NODES



