duration: $TOTAL_CHAOS_DURATION
io_block_size: $IO_BLOCK_SIZE
io_workers: $IO_WORKERS
io_write_bytes: $IO_WRITE_BYTES
kubeconfig: ""
namespace: $NAMESPACE
node_selector:
  $SELECTOR: $SELECTOR_VALUE
target_pod_folder: /hog-data
target_pod_volume:
  hostPath:
    path: /tmp
  name: node-volume
