duration: $TOTAL_CHAOS_DURATION
io_block_size: $BLOCK_SIZE
io_workers: $NUMBER_OF_WORKERS
io_write_bytes: $TOTAL_DATA_SIZE
kubeconfig: ""
namespace: $NAMESPACE
node_selector: 
    $SELECTOR: $SELECTOR_VALUE
target_pod_folder: $TARGET_FOLDER
target_pod_volume:
    hostPath:
        path: $HOST_VOLUME_PATH
    name: node-volume