scenarios:
  - name: "vmi outage test"
    scenario: vmi_outage
    parameters:
      vm_name: $VM_NAME
      label_selector: $LABEL_SELECTOR
      namespace: $NAMESPACE
      timeout: $TIMEOUT
      kill_count: $KILL_COUNT