config:
  runStrategy:
    runs: $RUNS
    maxSecondsBetweenRuns: $SECONDS_BETWEEN_RUNS
    minSecondsBetweenRuns: 1
scenarios:
  - name: kill pods in the specified namespace
    steps:
    - podAction:
        matches:
          - namespace: "$NAMESPACE"
        filters:
          - property:
             name: "state"
             value: "Running"
          - randomSample:
              size: $DISRUPTION_COUNT
        actions:
          - kill:
              probability: .7
