- id: kill-pods
  config:
    namespace_pattern: $NAMESPACE
    name_pattern: $NAME_PATTERN
    kill: $DISRUPTION_COUNT
    timeout: $KILL_TIMEOUT
    krkn_pod_recovery_time: $EXPECTED_RECOVERY_TIME
    node_names: $NODE_NAMES
    node_label_selector: $NODE_LABEL_SELECTOR
