- id: pod_network_outage
  config:
    namespace: $NAMESPACE
    direction: $TRAFFIC_TYPE             
    ingress_ports: $INGRESS_PORTS
    egress_ports: $EGRESS_PORTS                     
    label_selector: $LABEL_SELECTOR
    pod_name: $POD_NAME
    instance_count: $INSTANCE_COUNT
    wait_duration: $WAIT_DURATION
    test_duration: $TEST_DURATION
    image: $IMAGE